<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="C:\Users\LENOVO\Downloads\websites1\static\about.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="content-section">
                    <div class="title">
                        <h1><u>About me</u></h1>
                    </div>
    
                        <p><b>I am Smruti Achary purusing B.Tech in Computer Science and Engineering Branch at Parala Maharaja Engineering College.
                            Looking for an opportunity to learn new skills and utilize it for my career advancement and valuablr contribution to the organization.
                        </b></p>
                       

                    
                    <div class="social">
                        <ul>
                       <li><a href=""><i class="fa fa-github"></i></a></li>
                       <li><a href=""><i class="fa fa-facebook"></i></a></li>
                       <li><a href="https://youtube.com/channel/UCcnkypnDSuayuscrLMegnRg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                       <li><a href="https://www.linkedin.com/in/smruti-achary-88a508214/" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                    
                </div>
            <div class="image-section">
                <img src="C:\Users\LENOVO\Downloads\websites1\static\smruti_passphoto_crop.jpeg">

            </div>
        </div>
    </div>
        </body>
        
                
                                  

</html>
