<!DOCTYPE html>
<html>
    <head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="C:\Users\LENOVO\Downloads\websites1\static\style.css">   
 </head>
    <body>
    <header>
        <h3>Nettantra Technology</h3>
        <div class="menu-toggle"></div>
<nav>
    <ul>
    <li><a href="#" class="active">Home</a>
    <li><a href="about.html">ABOUT</a></li>
    <li><a href="skill.html">SKILL</a></li>
    <li><a href="project.html">PROJECT</a></li>
    <li><a href="contact.html">CONTACT ME</a></li>

</li>
</ul>
</nav>
<div class="clearfix"></div>



    </header>
    <footer>
        <p>
        <a href="#">nettantra_technology@gmail.com</a></p>

    </footer>

    
        

    </body>
</html>