<!DOCTYPE html>
<html>
    <head>
        <title>About Project</title>
<link rel="stylesheet" href="C:\Users\LENOVO\Downloads\websites1\static\proj.css">
    </head>
    <body>
    <div class="container">
      <div class="about">
    <h3><u>Human Resource Management</u></h3>
    </div>
       <p><b>Human Resource Management was originally known as personnel or people management. 
        The main responsibilities of the personnel department include hiring, evaluating, training, <br>
        and compensation of employees. The human resources department deals with any issues facing<br>
         the staff in their working capacity within an organization.
        </b></p>
        <h3><b><u>MODULES</u></b></h3>
        <ul>
            <li>HR Management</li>
            <li>Organisation Management</li>
            <li>Employee Management</li>
            <li>Attendance Management</li>
            <li>Project Management</li>
            <li>Payroll Management</li>
            <li>Customer Management</li>
        </ul>
        <h3><u>Methodology</u></h3>
        <p><b>We are using  Html, CSS,  JavaScript in Human Resource Management(HRM).<br>
             This tools helps to build the interactive UI . 
        </b></p>
            
        <h3><b><u>Tools</u></b></h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>
        <h3><b><u>Reference</u></b></h3>
           <p>
               <b>https://www.slideshare.net/anshuvaish01/prese ntation-on-human-resource-management<br>
                https://www.slideshare.net/kamalsubediletters/human-resource-management-system-46083124<br>
                https://slideplayer.com/slide/1468184/
                </b>
           </p>
           <div class="hrm">
           <div class="image">
            <img src="C:\Users\LENOVO\Downloads\websites1\static\Screenshot (19).png">


        </div>
         <div class="image">
            <img src="C:\Users\LENOVO\Downloads\websites1\static\Screenshot (18).png">
            

        </div>
        <div class="image">
            <img src="C:\Users\LENOVO\Downloads\websites1\static\Screenshot (20).png">
            

        </div>
        <div class="image">
            <img src="C:\Users\LENOVO\Downloads\websites1\static\Screenshot (12).png">
            

        </div> 
        </div>
    </body>
</html>