<!DOCTYPE html>
<html>
    <head>

<link rel="stylesheet" href="C:\Users\LENOVO\Downloads\websites1\static\skill.css">
    </head>
    <body>
        <div class="skill">
            <h1>my skill</h1>
        
            <li><h3>HTML</h3>
                <span class="bar"><span class="html"></span></span>
            </li>
            <li><h3>CSS</h3>
                <span class="bar"><span class="css"></span></span>
            </li>
            <li><h3>JavaScript</h3>
                <span class="bar"><span class="javascript"></span></span>
            </li>
            <li><h3>Python</h3>
                <span class="bar"><span class="python"></span></span>
            </li>
            <li><h3>SQL</h3>
                <span class="bar"><span class="sql"></span></span>
            </li>
            <li><h3>Flask</h3>
                <span class="bar"><span class="flask"></span></span>
            </li>
            <li><h3>OOPS</h3>
                <span class="bar"><span class="oops"></span></span>
            </li>
        </div>
    </body>
</html>